@using MvcPaging;
@model IPagedList<SqlDataProvider.Data.PlayerInfo>
@{
    Layout = "~/Views/Shared/_RenderLayout.cshtml";
    ViewBag.Title = "LoadData";
}

@if (Model.Count() > 0)
{
    <div>
        <div class="text-center" style="margin-top:-5px">
            <span class="pull-right text-success"> Online<em> @Model.TotalItemCount player </em></span>

            @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount, new AjaxOptions { UpdateTargetId = "top-player-content", LoadingElementId = "loading-bgr" }).Options(o => o
                                .DisplayTemplate("_Pagination")
                                .Action("LoadOnlinePlayer")
                                .AddRouteValue("zid", ViewData["zid"])
                                .AddRouteValue("cond1", ViewData["cond1"])
                                .AddRouteValue("cond2", ViewData["cond2"])
                                .AddRouteValue("table", ViewData["table"])
                                .MaxNrOfPages(3))
        </div>
    </div>
    <table id="general-table" class="table table-striped table-vcenter">
        <thead>
            <tr>
                <th class="text-center"><i class="gi gi-user"></i></th>
                <th>NickName</th>
                <th>UserID</th>
                <th>Grade</th>
                <th>GP</th>
                <th>FightPower</th>
                <th>LastDate</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">
                        @if (item.Sex)
                        {
                            <i class="fa fa-venus text-success"></i>
                        }
                        else
                        {
                            <i class="fa fa-mars text-danger"></i>
                        }
                    </td>
                    <td>
                        <a href="javascript:void(0)" class="over-popup" data-link="@Url.Action("UsersPopover", "Users", new { id = item.ID, zid = item.ZoneID })">
                            <strong>@item.NickName</strong>
                        </a>
                    </td>
                    <td>@item.ID.ToString()</td>
                    <td>@item.Grade</td>
                    <td>@item.GP</td>
                    <td>@item.FightPower</td>
                    <td>@Html.TOnline(item.LastDate)</td>
                    <td>@Html.TGetPlayerStatus(item.State)</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div colspan="9" class="text-center" id="insert-avatar">
        @Html.Raw(StaticFunction.GetTranslation("Views.NoHaveUserOnline"))
    </div>
}

@section Scripts{
    <script>
        $(function () {

            $('.popover:visible').popover('destroy');
            //GMApp.GetJson('#insert-avatar', '@Url.Action("Avatar","Users")');
            PopOver.initJson('#page-content');

        });
    </script>
}
