@using MvcPaging;
@model IPagedList<SqlDataProvider.Data.ActiveSystemInfo>
@{
    Layout = "~/Views/Shared/_RenderLayout.cshtml";
    ViewBag.Title = "LoadData";
    int zoneId = -1;
}
@if (Model.TotalItemCount > 0)
{
    if (ViewData["key"] == null || string.IsNullOrWhiteSpace((string)ViewData["key"]))
    {
        <p class="text-info"> Có tổng cộng <strong class="text-danger">@Model.TotalItemCount</strong> item(s)</p>
    }
    else
    {
        <p class="text-info"> Có tổng cộng <strong class="text-danger">@Model.TotalItemCount</strong> item(s) thỏa điều kiện</p>
    }
}
<table id="general-table" class="table table-striped table-vcenter">
    <thead>
        <tr>
            <th style="width: 80px;" class="text-center">
                <label class="switch switch-primary" data-toggle="tooltip" title="Chọn tất cả">
                    <input type="checkbox">
                    <span></span>
                </label>
            </th>
            <th>ID</th>
            <th>NickName</th>
            <th>UserID</th>
            <th>useableScore</th>
            <th>totalScore</th>
            <th>AvailTime</th>            
            <th>dayScore</th>
            <th>CanGetGift</th>
            <th style="width: 80px;" class="text-center">Actions</th>
        </tr>
    </thead>
    @if (Model.Count() > 0)
    {
        <tbody>
            @foreach (var item in Model)
            {
                zoneId = item.ZoneID;
                <tr>
                    <td class="text-center">
                        <label class="switch switch-primary">
                            <input type="checkbox" id="@item.ID" name="@item.ID" value="@item.ID">
                            <span></span>
                        </label>
                    </td>
                    <td>@item.ID</td>
                    <td>
                        <a href="@Url.Action("Detail", "Users", routeValues: new { id = item.ID})" data-modal-large="show">
                            <strong>@Html.TGetPlayerNick(zoneId, item.UserID)</strong>
                        </a>
                    </td>
                    <td>@item.UserID</td>
                    <td>@item.useableScore</td>
                    <td>@item.totalScore</td>
                    <td>@item.AvailTime</td>                    
                    <td>@item.dayScore</td>
                    <td>@item.CanGetGift</td>
                    <td class="text-center">
                        <div class="btn-group btn-group-xs">
                            <a href="@Url.Action("Edit", "Users", routeValues: new { id = item.ID })" data-toggle="tooltip" data-modal="show"
                               title="Chỉnh sữa" class="btn btn-default"><i class="fa fa-pencil"></i></a>
                            <a href="@Url.Action("Delete", "Users", routeValues: new { id = item.ID })" data-toggle="tooltip" data-modal="show"
                               title="Xóa" class="btn btn-danger"><i class="fa fa-times"></i></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
                <tfoot>
                    <tr>
                        <td colspan="32">
                            <div class="btn-group btn-group-sm pull-right">
                                <a href="javascript:void(0)" class="btn btn-primary" data-toggle="tooltip" title="Tối ưu dữ liệu"><i class="fa fa-cog"></i></a>
                                <div class="btn-group btn-group-sm dropup">
                                    <a href="javascript:void(0)" class="btn btn-primary pull-right dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                                    <ul class="dropdown-menu dropdown-custom dropdown-menu-right">
                                        <li class="dropdown-header"><i class="fa fa-share pull-right"></i> Export As</li>
                                        <li>
                                            <a href="javascript:void(0)">.xml</a>
                                            <a href="@Url.Action("ExportCSV", "Users", routeValues: new { id = zoneId, @table = ViewData["table"] })">.cvs</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="btn-group btn-group-sm">
                                <a href="javascript:void(0)" class="btn btn-primary" data-toggle="tooltip" style="margin-left:15px" title="Khóa tài khoản được chọn"><i class="fa fa-lock"></i></a>
                            </div>
                            <div class="text-center" style="margin-top:-35px">
                                @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount, new AjaxOptions { UpdateTargetId = "table-content", LoadingElementId = "loading-bgr" }).Options(o => o
                                .DisplayTemplate("_Pagination")
                                .Action("LoadData")
                                .AddRouteValue("key", ViewData["key"])
                                .AddRouteValue("table", ViewData["table"])
                                .MaxNrOfPages(3))
                            </div>
                        </td>
                    </tr>
                </tfoot>
    }
    else
    {
        <tbody>
            <tr>
                <td colspan="32">
                    <div class="text-center">
                        @Html.Raw(StaticFunction.GetTranslation("Views.Empty"))
                    </div>
                </td>
            </tr>
        </tbody>
    }
</table>
@section Scripts{
    <script>$(function () { /*add some code here!*/ });</script>
}

