@using MvcPaging;
@model IPagedList<SqlDataProvider.Data.ActiveInfo>
@{
    Layout = "~/Views/Shared/_RenderLayout.cshtml";
    ViewBag.Title = "List Item";
}
<div style="min-height:532px">
    <table class="table table-hover" id="media-list">
        @if (Model.Count() > 0)
        {
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">
                            <label>
                                <input type="checkbox" id="cb-@item.ActiveID" name="@item.ActiveID" value="@item.ActiveID"><span></span>
                            </label>
                        </td>
                        <td>
                            <div>
                                <a href="@Url.Action("EventAwardList", "Games", new { id = item.ActiveID, type = item.HasKey, title = item.Title })" id="@item.ActiveID"><strong>@item.Title</strong></a>
                                <span class="pull-right text-warning" style="font-size:11px"><em></em> @item.ActiveID</span>
                            </div>
                            <div>
                                <span class="text-info" style="font-size:11px"><em>@item.Content</em></span><br />
                                <div class="btn-group btn-group-xs">
                                    <a href="@Html.Raw(Url.Action("EditActive","Games", new { id = item.ActiveID}))" class="btn btn-xs btn-warning"
                                       data-toggle="tooltip" title="Chỉnh sửa" data-modal="editactive"><i class="gi gi-edit"></i></a>
                                    <a href="@Url.Action("DeleteActive", "Games", routeValues: new { id = item.ActiveID })" data-modal="deleteactive"
                                       data-toggle="tooltip" title="Xóa" class="btn btn-danger"><i class="fa fa-times"></i></a>
                                </div>
                                <span class="pull-right text-warning" style="font-size:11px"><em>@item.EndDate.ToString("dd-MM-yyyy")</em></span>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        }
        else
        {
            <tbody>
                <tr>
                    <td colspan="2" class="text-center" id="insert-avatar">
                        @Html.Raw(StaticFunction.GetTranslation("Views.Empty"))
                    </td>
                </tr>
            </tbody>
        }
    </table>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="btn-group btn-group-sm">
            <a href="javascript:void(0)" class="btn btn-warning" data-toggle="tooltip" title="Xóa event được chọn" data-dialog="get"><i class="fa fa-times"></i></a>
            <a href="javascript:void(0)" class="btn btn-info" data-toggle="tooltip" title="Gia hạn event được chọn" data-dialog="get"><i class="hi hi-repeat"></i></a>
        </div>
    </div>
    <div class="col-md-7">
        <div class="text-center">
            @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount, new AjaxOptions { LoadingElementId = "loading-bgr", OnSuccess = "AjaxShopSaleSuccess", OnFailure = "AjaxShopSaleFailure" }).Options(o => o
                    .DisplayTemplate("_Pagination")
                    .MaxNrOfPages(2)
                    .Action("EventList")
                    .AddRouteValue("key", ViewData["key"])
                    .AddRouteValue("cid", ViewData["cid"])
                    .AlwaysAddFirstPageNumber())
        </div>
    </div>
    <div class="col-md-2">
        <div class="btn-group btn-group-sm pull-right">
            <div class="btn-group btn-group-sm dropup">
                <a href="javascript:void(0)" class="btn btn-primary pull-right dropdown-toggle" data-toggle="dropdown"><i class="gi gi-disk_open"></i></a>
                <ul class="dropdown-menu dropdown-custom dropdown-menu-right">
                    <li class="dropdown-header"><i class="fa fa-share pull-right"></i>Lựa chọn</li>
                    <li>
                        <a href="javascript:void(0)">Huỷ tất cả event</a>
                        <a href="javascript:void(0)">Gia hạn tất cả event</a>
                        <a href="javascript:void(0)">Xóa hết event hết hạn</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(function () {
            /* page load*/
            ModelGeneral.init('data-modal="deleteactive"');
            ModelGeneral.init('data-modal="editactive"');
            loadEventAwardList();
            $("#media-list").on("click", "tbody>tr>td>div a", function () {
                $("#media-list>tbody>tr>td>div a").removeClass('active text-danger');
                $(this).addClass('active text-danger');
                loadEventAwardList();
                return false;
            });
        });

        function loadEventAwardList() {
            var curentAvtive = $("#media-list>tbody").find('.active');
            if (curentAvtive.length == 0) {
                curentAvtive = $("#media-list>tbody>tr>td>div:first a");
                curentAvtive.addClass('active text-danger');
            }
            if (curentAvtive.length > 0) {
                var name = curentAvtive.text();
                var link = curentAvtive.attr("href");
                var id = curentAvtive.attr("id");
                $("#loading-bgr").show();
                $.get(link, function (data) {
                    $("#event-award-list").html(data.Html);
                    $("#event-header").html(name);
                    $("#btn-add-event-award").attr("data-dialog", id);
                    $("#loading-bgr").hide();
                })
                .fail(function (data) {
                    $("#event-award-list").html(getError(data.status, data.statusText));
                    $("#loading-bgr").hide();
                });
            }
            else {
                $("#event-award-list").html('<div class="text-center">@Html.Raw(StaticFunction.GetTranslation("Views.Empty"))</div>');
                $("#event-header").html('..');
            }
        }
        function AjaxShopSaleSuccess(data) {//OnSuccess = "AjaxSuccess"
            if (data.Result) {
                $('#event-list').html(data.Html);
            }
            else {
                showGrowl(data.Html, 'danger');
            }
        }

        function AjaxShopSaleFailure(xhr) {//OnFailure = "AjaxFailure"
            var text = "Error: " + xhr.status + " " + xhr.statusText;
            showGrowl(text, 'danger');
        }
    </script>
}

