@model List<SqlDataProvider.Data.ItemBoxInfo>
@{
    Layout = "~/Views/Shared/_RenderLayout.cshtml";
    ViewBag.Title = "Xác nhận";
}
<div class="modal-header themed-background-fire" style="color:white;">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">@ViewBag.Title</h4>
</div>
<div class="modal-body">
    <!-- Danger Alert Content -->
    <div class="alert alert-danger">
        <strong>@Html.Raw(StaticFunction.GetTranslation("Controllers.DeleteConfirm3", Html.TItemName(int.Parse(ViewContext.RouteData.Values["id"].ToString()))))</strong>
        <p>
            <strong>@Html.Raw(StaticFunction.GetTranslation("Controllers.DeleteConfirmDetail"))</strong>
        </p>
        <br>
        <div style="max-height:350px; overflow-y:auto">
            <ul class="fa-ul list-li-push">
                @foreach (var item in Model)
                {
                    <li class="text-info"> @item.TemplateId<i class="gi gi-chevron-right" style="font-size:8px"></i> @Html.TItemName(item.TemplateId)</li>
                }
            </ul>
        </div>
        <p>
            <br>@Html.Raw(StaticFunction.GetTranslation("Controllers.DeleteConfirmNote"))
        </p>
    </div>
    <!-- END Danger Alert Content -->
    <form action="@Html.Raw(Url.Action("DeleteData", "Games",  new { id = ViewContext.RouteData.Values["id"], ids = Request.QueryString["ids"],
                 table = Request.QueryString["table"], func = "loadBoxItemsList()" }))"
          class="form-horizontal" id="form-confirm" method="post" role="form">
        <div class="form-actions text-right">
            <input class="btn btn-sm btn-danger " type="submit" value="Xác nhận" />
            <input class="btn btn-sm btn-success " type="button" value="Huỷ bỏ" data-dismiss="modal" />
        </div>
    </form>
</div>
@section Scripts{
    <script>
        $('#form-confirm').on('submit', function (e) {
            $('#loading-bgr').show();
            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                success: function (result) {
                    $('#loading-bgr').hide();
                    $('#modal-content-delete-box').html(result);
                }
            });
            return false;
        });
    </script>
}