@model SqlDataProvider.Data.ShopItemInfo
@{
    Layout = "~/Views/Shared/_RenderLayout.cshtml";
    ViewBag.Title = "Chỉnh sửa thông số";
    var item = Model;
    string chek = string.Empty;

}
<div class="modal-header themed-background-default">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">
        @ViewBag.Title
        <i class="gi gi-chevron-right" style="font-size:10px"></i>
        <span style="color:white"><strong> @Html.TItemName(item.TemplateID)</strong></span>
    </h4>
</div>
<div class="modal-body">
    <!-- From Block -->
    <form action="@Html.Raw(Url.Action("EditShopItem", "Games", routeValues: new { id = item.ID}))"
          method="post" class="form-horizontal form-bordered" id="frm-update-shop-item" onsubmit="return false;">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label" for="ID">ID</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control input-sm" value="@item.ID" disabled>
                    </div>
                    <input type="hidden" id="ID" name="ID" value="@item.ID">
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="ItemId">TemplateID</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control input-sm" value="@item.TemplateID" disabled>
                    </div>
                    <input type="hidden" id="TemplateID" name="TemplateID" value="@item.TemplateID">
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="GroupID">GroupID</label>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-sm-4">
                                <input type="text" id="GroupID" name="GroupID" class="form-control input-sm must-digits" value="@item.GroupID">
                            </div>                           
                            <div class="col-sm-8">
                                <label class="col-sm-5 control-label" for="ShopID">ShopID</label>
                                <div class="col-sm-7">
                                    <input type="text" id="ShopID" name="ShopID" class="form-control input-sm must-digits" value="@item.ShopID">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="BuyType">BuyType</label>
                    <div class="col-md-9">
                        <input type="text" id="BuyType" name="BuyType" class="form-control input-sm must-digits" value="@item.BuyType">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="IsBind">IsBind</label>
                    <div class="col-md-9">
                        <input type="text" id="IsBind" name="IsBind" class="form-control input-sm must-digits" value="@item.IsBind">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="LabelD">Label</label>
                    <div class="col-md-9">
                        <input type="text" id="Label" name="Label" class="form-control input-sm must-digits" value="@item.Label">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="Beat">Beat</label>
                    <div class="col-md-9">
                        <input type="text" id="Beat" name="Beat" class="form-control input-sm must-digits" value="@item.Beat">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="LimitCount">LimitCount</label>
                    <div class="col-md-9">
                        <input type="text" id="LimitCount" name="LimitCount" class="form-control input-sm must-number" value="@item.LimitCount">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="LimitGrade">LimitGrade</label>
                    <div class="col-md-9">
                        <input type="text" id="LimitGrade" name="LimitGrade" class="form-control input-sm must-digits" value="@item.LimitGrade">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="StartDate">StartDate</label>
                    <div class="col-md-9">
                        <input type="text" id="StartDate" name="StartDate" class="form-control input-sm must-date" value="@item.StartDate">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="EndDate">EndDate</label>
                    <div class="col-md-9">
                        <input type="text" id="EndDate" name="EndDate" class="form-control input-sm must-date" value="@item.EndDate">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label" for="AUnit">AUnit</label>
                    <div class="col-md-9">
                        <input type="text" id="AUnit" name="AUnit" class="form-control input-sm must-number" value="@item.AUnit">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="APrice1">APrice1</label>
                    <div class="col-md-9">
                        <input type="text" id="APrice1" name="APrice1" class="form-control input-sm must-number" value="@item.APrice1">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="AValue1">AValue1</label>
                    <div class="col-md-9">
                        <input type="text" id="AValue1" name="AValue1" class="form-control input-sm must-number" value="@item.AValue1">
                    </div>
                </div>
                <input type="hidden" id="APrice2" name="APrice2" value="@item.APrice2">
                <input type="hidden" id="AValue2" name="AValue2" value="@item.AValue2">
                <input type="hidden" id="APrice3" name="APrice3" value="@item.APrice3">
                <input type="hidden" id="AValue3" name="AValue3" value="@item.AValue3">
                <div class="form-group">
                    <label class="col-md-3 control-label" for="BUnit">BUnit</label>
                    <div class="col-md-9">
                        <input type="text" id="BUnit" name="BUnit" class="form-control input-sm must-number" value="@item.BUnit">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="BPrice1">BPrice1</label>
                    <div class="col-md-9">
                        <input type="text" id="BPrice1" name="BPrice1" class="form-control input-sm must-number" value="@item.BPrice1">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="BValue1">BValue1</label>
                    <div class="col-md-9">
                        <input type="text" id="BValue1" name="BValue1" class="form-control input-sm must-number" value="@item.BValue1">
                    </div>
                </div>
                <input type="hidden" id="BPrice2" name="BPrice2" value="@item.BPrice2">
                <input type="hidden" id="BValue2" name="BValue2" value="@item.BValue2">
                <input type="hidden" id="BPrice3" name="BPrice3" value="@item.BPrice3">
                <input type="hidden" id="BValue3" name="BValue3" value="@item.BValue3">
                <div class="form-group">
                    <label class="col-md-3 control-label" for="CUnit">CUnit</label>
                    <div class="col-md-9">
                        <input type="text" id="CUnit" name="CUnit" class="form-control input-sm must-number" value="@item.CUnit">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="CPrice1">CPrice1</label>
                    <div class="col-md-9">
                        <input type="text" id="CPrice1" name="CPrice1" class="form-control input-sm must-number" value="@item.CPrice1">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="CValue1">CValue1</label>
                    <div class="col-md-9">
                        <input type="text" id="CValue1" name="CValue1" class="form-control input-sm must-number" value="@item.CValue1">
                    </div>
                </div>
                <input type="hidden" id="CPrice2" name="CPrice2" value="@item.CPrice2">
                <input type="hidden" id="CValue2" name="CValue2" value="@item.CValue2">
                <input type="hidden" id="CPrice3" name="CPrice3" value="@item.CPrice3">
                <input type="hidden" id="CValue3" name="CValue3" value="@item.CValue3">
                <div class="form-group">
                    <label class="col-md-3 control-label" for="LimitPersonalCount">LimitPersonalCount</label>
                    <div class="col-md-9">
                        <input type="text" id="LimitPersonalCount" name="LimitPersonalCount" class="form-control input-sm must-number" value="@item.LimitPersonalCount">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="IsBinds">IsContinue</label>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-2">
                                <label class="switch switch-primary">
                                    @{
                                        if (item.IsContinue) { chek = "checked"; }
                                    }
                                    <input type="checkbox" id="IsContinued" name="IsContinue" value="true" @chek>
                                    <span></span>
                                    <input type="hidden" id="IsContinue" name="IsContinue" value="false">
                                </label>
                            </div>
                            <div class="col-md-5">
                                <label class="col-sm-5 control-label" for="IsTips">IsCheap</label>
                                <div class="col-sm-7">
                                    <label class="switch switch-primary">
                                        @{
                                            chek = "";
                                            if (item.IsCheap) { chek = "checked"; }
                                        }
                                        <input type="checkbox" id="IsCheap" name="IsCheap" value="true" @chek>
                                        <span></span>
                                        <input type="hidden" id="IsCheap" name="IsCheap" value="false">
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <label class="col-sm-5 control-label" for="IsLogs">CanBuy</label>
                                <div class="col-sm-7">
                                    <label class="switch switch-primary">
                                        @{
                                            chek = "";
                                            if (item.CanBuy) { chek = "checked"; }
                                        }
                                        <input type="checkbox" id="CanBuy" name="CanBuy" value="true" @chek>
                                        <span></span>
                                        <input type="hidden" id="CanBuy" name="CanBuy" value="false">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group form-actions">
            <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-sm btn-warning btn-submit2"> Cập nhật</button>
                <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </form>
    <!-- END From Block -->
</div>
@section Scripts{
    <script>
        $(function () {

            var startBtn = $('.btn-submit2');
            // On start button click start loading again
            startBtn.on('click', function () {
                $(this).button('loading');
            });

            /* Validate */
            $('form#frm-update-shop-item').each(function () {   // <- selects every <form> on page
                $(this).validate({        // <- initialize validate() on each form
                    errorClass: 'help-block animation-slideDown', // You can change the animation class for a different entrance animation - check animations page
                    errorElement: 'div',
                    errorPlacement: function (error, e) {
                        e.parents('.form-group > div').append(error);
                    },
                    highlight: function (e) {
                        $(e).closest('.form-group').removeClass('has-success has-error').addClass('has-error');
                        $(e).closest('.help-block').remove();
                        startBtn.button('reset');
                    },
                    success: function (e) {
                        e.closest('.form-group').removeClass('has-success has-error');
                        e.closest('.help-block').remove();
                    },
                    submitHandler: function (e) {
                        var type = '@Request.QueryString["type"]';
                        $('#loading-bgr').show();
                        $.ajax({
                            url: e.action,
                            type: e.method,
                            data: $(e).serialize(),
                            success: function (result) {
                                $('#loading-bgr').hide();
                                $('#response-hodler').html(result);
                                startBtn.button('reset');
                                switch (type) {                                   
                                    case 'shopshow':
                                        loadShopShow();
                                        break;
                                    case 'shopsale':
                                        loadShopSale();
                                        break;
                                    default:
                                        loadShop();
                                        break;
                                }
                            },
                            error: function (xhr) {
                                $('#loading-bgr').hide();
                                showGrowl('Error: ' + xhr.status + ' ' + xhr.statusText, 'danger');
                                startBtn.button('reset');
                            }
                        });
                        return false;
                    }
                });
            });
        });
    </script>
}
