@model GM.Service.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Quên mật khẩu";
}

<!-- Header -->
<div class="content-header">
    <div class="header-section">
        <h1>
            <i class="gi gi-circle_question_mark"></i>@ViewBag.Title<br><small>Lấy lại mật khẩu bằng email của bạn @ViewBag.Message</small>
        </h1>
    </div>
</div>
<ul class="breadcrumb breadcrumb-top">
    <li>Trang</li>
    <li><a href="javascript:void(0)">@ViewBag.Title</a></li>
</ul>
<!-- END Header -->
<div class="block">
    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "form-reminder" }))
    {
        @Html.AntiForgeryToken()
        @Html.Partial("_Alerts")
        <div class="form-group">
            <div class="col-xs-12">
                <div class="input-group">
                    <span class="input-group-addon"><i class="gi gi-envelope"></i></span>
                    <input type="text" id="reminder-email" name="Email" class="form-control input-lg" placeholder="Email">
                </div>
            </div>
        </div>
                    <div class="form-group form-actions">
                        <div class="col-xs-12 text-right">
                            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Phục hổi mật khẩu</button>
                        </div>
                    </div>    
    }
</div>
@section Scripts {
    <script>
        /* Reminder form - Initialize Validation */
        $('#form-reminder').validate({
            errorClass: 'help-block animation-slideDown', // You can change the animation class for a different entrance animation - check animations page
            errorElement: 'div',
            errorPlacement: function (error, e) {
                e.parents('.form-group > div').append(error);
            },
            highlight: function (e) {
                $(e).closest('.form-group').removeClass('has-success has-error').addClass('has-error');
                $(e).closest('.help-block').remove();
            },
            success: function (e) {
                e.closest('.form-group').removeClass('has-success has-error');
                e.closest('.help-block').remove();
            },
            rules: {
                'Email': {
                    required: true,
                    email: true
                }
            },
            messages: {
                'Email': 'Vui lòng nhập Email của bạn!'
            }
        });
    </script>
}
