@using SqlDataProvider.Data;
@model List<TopAwardInfo>
@{
    Layout = "~/Views/Shared/_RenderLayout.cshtml";
    ViewBag.Title = "LoadTopAward";   
}
    @if (Model.Count() > 0)
    {
            <!-- Files Content -->
            <!-- Add the category value for each item in its data-category attribute (for the filter functionality to work) -->
            <div class="row media-filter-items" id="media-filter-items" style="height:535px; overflow-y:auto">
                @foreach (var item in Model)
                {
                    <div class="col-sm-6 col-lg-4">
                        <div class="media-items animation-fadeInQuickInv" data-category="rank-@item.Rank" style="height:280px">

                            <div class="media-items-options text-left">
                                <a href="@Html.Raw(Url.Action("EditTopAward", "Award", new { id = item.TemplateID, rank = item.Rank, tid = item.TopID }))" class="btn btn-xs btn-primary"
                                   data-modal="editTopAward"><i class="fa fa-pencil"></i></a>
                                <a href="@Html.Raw(Url.Action("DeleteTopAward", "Award", new { id = item.TemplateID, rank = item.Rank, tid = item.TopID, func ="loadTopAward()" }))"
                                   class="btn btn-xs btn-warning" data-modal="deleteTopAward"><i class="fa fa-remove"></i></a>
                                <a href="@Html.Raw(Url.Action("PopOverTopAward", "Award", new { id = item.TemplateID, tid = item.TopID }))" class="btn btn-xs btn-danger"
                                   data-toggle="simple-ajax-popup"><i class="fa fa-search"></i></a>
                            </div>
                            <div class="media-items-content" style="margin-top:-10px;">
                                @Html.ItemImage(item.TemplateID, "", "", "75")
                            </div>
                            <h4 style="margin-top:-15px;">
                                <span class="text-info" style="font-size:14px">@item.Name</span><br>
                                <small style="font-size:12px"><em>Số lượng:</em> @item.Count</small><br>
                                <small style="font-size:12px">
                                    <em>Hiệu lực:</em> @if (item.ValidDate == 0)
                                    { <span class="text-success"> Vĩnh viễn </span> }
                                    else
                                    { <span class="text-info">@item.ValidDate ngày </span> }
                                </small><br>
                                <small style="font-size:12px">
                                    <em>Trạng thái:</em> @if (item.IsBinds)
                                    { <span class="text-danger"> Khóa</span> }
                                    else
                                    { <span class="text-success"> Không khóa </span> }
                                </small>
                            </h4>
                        </div>
                    </div>
                }
            </div>
            <!-- END Files Content -->
    }
    else
    {
        <div class="text-center" id="avatar-empty-body-m" style="position:relative; width:100%">
            @Html.Raw(StaticFunction.GetTranslation("Views.Empty"))
            <div id="avatar-empty-content-m" style="position:absolute">
                @Html.Partial("_Empty")
            </div>
        </div>        
    }

@section Scripts{
    <script>
        $(function () {
            ModelGeneral.init('data-modal="deleteTopAward"');
            ModelGeneral.init('data-modal="editTopAward"', 'large3');
            ReadyFiles.init(null, 'holder-catagory');
            GMApp.initResize('#avatar-empty-body-m', '#avatar-empty-content-m');
        });
        
    </script>
}

