@model SqlDataProvider.Data.TopInfo
@{
    Layout = "~/Views/Shared/_RenderLayout.cshtml";
    ViewBag.Title = "Chỉnh sửa";
    var item = Model;
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">@ViewBag.Title <i class="gi gi-chevron-right" style="font-size:8px"></i><span class="text-warning"><strong>@item.Name</strong></span></h4>
</div>
<div class="modal-body">
    <!-- Form add -->

    <form action="@Html.Raw(Url.Action("EditTop", "Award", new { id = item.ID }))" 
          method="post" class="form-horizontal form-bordered" id="frm-update-top">
            <div class="form-group">
                <label class="col-md-4 control-label" for="ZoneID">ID</label>
                <div class="col-md-8">
                    <input type="text" class="form-control input-sm" value="@item.ID" disabled>
                </div>
                <input type="hidden" id="ID" name="ID"  value="@item.ID" />
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="ZoneID">ZoneID</label>
                <div class="col-md-8">
                    <input type="text" id="ZoneID" name="ZoneID" class="form-control input-sm must-digits" value="@item.ZoneID" placeholder="Nhập vào một số, vd: 1001">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="Type">Type</label>
                <div class="col-md-8">
                    <input type="text" id="Type" name="Type" class="form-control input-sm must-digits" value="@item.Type" placeholder="Nhập vào một số, vd: 1,2,3..">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="Name">Name</label>
                <div class="col-md-8">
                    <input type="text" id="Name" name="Name" class="form-control input-sm must-required" value="@item.Name" placeholder="Nhập vào tên, vd: Top Level">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="Detail">Detail</label>
                <div class="col-md-8">
                    <textarea id="Detail" name="Detail" rows="4" class="form-control must-required" placeholder="Nhập vào mô tả, vd: Phần thưởng dành cho top 10 level trong 10 ngày mở server">@item.Detail</textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="GetTable">GetTable</label>
                <div class="col-md-8">
                    <input type="text" id="GetTable" name="GetTable" class="form-control input-sm must-required" value="@item.GetTable" placeholder="Nhập vào table lấy top, vd: V_Sys_Users_Detail">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="Condition1">Condition1</label>
                <div class="col-md-8">
                    <input type="text" id="Condition1" name="Condition1" class="form-control input-sm must-required" value="@item.Condition1" placeholder="Nhập vào điều kiện lấy top, vd: Grade ">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="Condition2">Condition2</label>
                <div class="col-md-8">
                    <input type="text" id="Condition2" name="Condition2" class="form-control input-sm must-required" value="@item.Condition2" placeholder="Nhập vào điều kiện lấy top, vd: GP">
                </div>
            </div>
        <div class="form-group form-actions">            
            <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-sm btn-primary btn-submit"> Cập nhật</button>
                <button type="button" class="btn btn-sm btn-success" data-dismiss="modal"> Đóng</button>
            </div>
        </div>
    </form>

    <!-- END Form add -->
</div>

@section Scripts{
    <script>
        $(function () {            

            var startBtn = $('.btn-submit');
            // On start button click start loading again
            startBtn.on('click', function () {
                $(this).button('loading');
            });
            
            /* Validate */
            $('form#frm-update-top').each(function () {   // <- selects every <form> on page
                $(this).validate({        // <- initialize validate() on each form
                    errorClass: 'help-block animation-slideDown', // You can change the animation class for a different entrance animation - check animations page
                    errorElement: 'div',
                    errorPlacement: function (error, e) {
                        e.parents('.form-group > div').append(error);
                    },
                    highlight: function (e) {
                        $(e).closest('.form-group').removeClass('has-success has-error').addClass('has-error');
                        $(e).closest('.help-block').remove();
                        startBtn.button('reset');
                    },
                    success: function (e) {
                        e.closest('.form-group').removeClass('has-success has-error');
                        e.closest('.help-block').remove();
                    },
                    submitHandler: function (e) {
                        $('#loading-bgr').show();
                        $.ajax({
                            url: e.action,
                            type: e.method,
                            data: $(e).serialize(),
                            success: function (result) {
                                $('#loading-bgr').hide();
                                $('#response-hodler').html(result);
                                startBtn.button('reset');
                            },
                            error: function (result) {
                                $('#loading-bgr').hide();
                                startBtn.button('reset');
                            }
                        });
                        return false;
                    }
                });
            });

        });
    </script>
}